@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url(#e87624);
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #39170e;
    width:100% ;
    height: auto;
}
header ul{
    color: #E8D826;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
header ul li{
    margin: 15px;
    list-style: none;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal
}
header a{
    color: #E8D826;
    text-decoration: none;
}
header img{
    height: 100%;
}
.nav{
display: flex;
justify-content:;
align-content: center;
align-items: center;
text-align: center;
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.presentacion img{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
}
.presentacion p{
    margin-top: 20px;
    font-size: 35px;
    color:  #632f26 ;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    width: 90%;
    background-color: #ffdd99;
}
h1{
    background-color: #E8D826;
    font-size: 50px;
    color: #330708;
    border-radius: 22px;
    padding: 10px;
    font-family: "Nerko One", cursive;
    font-weight: 600;
    font-style: normal;
}
.conocenos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #f8c59b;
    }

    .conocenos-contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
        width: 90%;
    }
    
.conocenos h1{
    margin-top: 30px;
    font-size: 50px;
}
.conocenos p{
    width: 80%;
    text-align: left;
    margin-right: 30px;
}
.imagconocenos img{
    width: 350px;
    height: 350px;
    display: block;
    margin: 15px;
}
.conocenos p{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.dividervuelo{
    margin-top: 35px;
    margin-bottom: 35px;
}

.dividervuelo img{
    margin: 0 auto;
    display: block;
    width: 250px;
}

.nuestrosproductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.nuestrosproductos{
    background-color: #f0e3a6;
    width: 100%;
}

.nuestrosproductos p{
    margin-top: 15px;
    font-size: 25px;
    color: black;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    width: 90%;

}
.ventaproductos{
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 80%;
}

.ventaproductos img{
    width: 30%;  
}

.ventaproductos h2{
    font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  border-radius: 22px;
  width: auto;
  
}

.orange{
    background-color: #fff698;
    padding-left: 30px;
    padding-right: 30px;
}
.orange h2{
    background-color:#ec8729  ;
    color: #330708;

}

.brown{
    background-color: #ffbe8f;
    padding-left: 30px;
    padding-right: 30px;
}

.brown h2{
    background-color: #fff759;
    color: #632f26;
}

.divider1{
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 15%;
}
.ventaproductos h1{
    background-color: #885858;
    color: #ffff00;
    font-size: 35px;
    margin-top: 20px;
}


.direccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #e0a498;
}

.mapa{
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 70%;
    background-color: #E8A726;
    padding: 30px;

}
.mapa p{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #39170e;
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contactanos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;

}
.contactanos img{
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.contactanos p{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #E8D826;
    padding: 20px;
    background-color: #632f26;
}

.abrir-menu{
    display: none;
}



@media (max-width: 767px){
    .ventaproductos img{
        width: 50%;
    }

    .conocenos{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    .conocenos-contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conocenos p{
        margin: 0 auto;
        text-align: center;
        width: 95%;
    }

    .dividervuelo{
        margin: 0 auto;
        display: block;
        width: 20%;
    }


}